@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #f8f8f8;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

ul {
  padding: 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login h1 {
  margin-bottom: 4rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home>.button {
  align-self: flex-start;
}

.home>.message_input {
  align-self: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.date-badge {
  align-self: center;
  max-width: 10vw;
  width: fit-content;
  background: #71c4f5;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 15px 0;
}

.message {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  margin: 0 2rem;
  max-width: 70vw;
  width: fit-content;
  word-wrap: break-word;
  position: relative;
}

.message-right {
  align-self: flex-end;
  justify-content: right;
  background-color: #f0f0f0;
}

.message-left {
  align-self: flex-start;
  justify-content: left;
  background-color: #e0e0e0;
}

.message p {
  margin: 0;
  padding-right: 50px;
  padding-top: 10px;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
}

/* Profile picture styling */
.profile-pic-wrapper {
  margin-right: 10px;
}

.profile-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.message_sender {
  color: var(--color-primary);
  font-size: 1.3rem;
}

.message_time {
  color: #a09d9d;
  font-size: 1.3rem;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.message_input {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #3a3a3aa9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 2rem;
  padding: 10px;
}

.message_input::placeholder {
  text-align: center;
}

.message_input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

/* @media screen and (min-width: 768px) {
  .message_input {
    width: 50%;
  }
} */

.button {
  background: var(--color-primary);
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  color: white;
  cursor: pointer;
  padding: 10px;
}

.button:hover {
  background-color: #357ae8;
}

.button-join {
  border: none;
  background: none;
}

.button-join.active {
  color: #2584ff;
  cursor: pointer;
}

.button-join.inactive {
  color: #3a3a3aa9;
  cursor: default;
}

.button:focus {
  outline: none;
}