.list {
  list-style-type: none;
}

.message-right {
  text-align: right;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
}

.message-left {
  text-align: left;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
}